//colors
$color_tapa_approx: #777;
$yellow: yellow;
$black: black;
$color_celeste_approx: #ccc;

//fonts
$font_0: Helvetica Neue;
$font_1: Helvetica;
$font_2: Arial;
$font_3: sans-serif;

//@extend-elements
//original selectors
//.details, .none
%extend_1 {
  font-weight: bold;
  font-size: 2em;
  border-style: dashed none none none;
  border-color: $color_celeste_approx;
  border-width: 4px;
  margin: 50px 10px;
  padding: 10px 0;
}


body {
  font-family: $font_0, $font_1, $font_2, $font_3;
  font-weight: 200;
  margin: 50px 0;
  padding: 0;
  //Instead of the line below you could use @includeuser-select($select)
  user-select: none;
}
#outer {
  margin: 0 auto;
}
.player {
  cursor: pointer;
  padding: 5px;
  .name {
    display: inline-block;
  }
  .score {
    display: inline-block;
    text-align: right;
    color: $color_tapa_approx;
  }
  &.selected {
    background-color: $yellow;
    .score {
      color: $black;
    }
  }
}
.details {
  @extend %extend_1;
}
.none {
  @extend %extend_1;
  color: $color_tapa_approx;
}
.inc {
  cursor: pointer;
}

// top navigation and title bar
.navbar-fixed-top, .fixed {
  position: fixed;
}

$capitaDarkBlue: rgb(0,91,130);
$capitaMidBlue: rgb(61,183,228);
$capitaLightBlue: rgb(161,198,207);
$capitaDarkGrey: rgb(116,118,120);
$capitaLightGrey: rgb(199,194,186);
$capitaLightOrange: rgb(240,171,0);
$capitaLightGreen: rgb(190,214,0);
$capitaDarkGreen: rgb(0,133,102);
$capitaRed: rgb(152,50,34);
$white: rgb(255,255,255);

$navBarTop: $capitaMidBlue;
$navBarBottom: $capitaDarkBlue;

$colourAdjust: 10%;

@mixin transition($time: .3s) {
  -webkit-transition: background $time ease;
  -moz-transition: background $time ease;
  -o-transition: background $time ease;
  transition: background $time ease;
}

.navbar.navbar-inverse {
  background-color: $navBarBottom;
  border-bottom: 1px solid darken($navBarBottom, $colourAdjust);
  color: white;

  .brand {
    color: white;
    margin-left: -5px;
  }

  .navbar-inner {
    background-color: $navBarTop;
    background-image: none !important;
    border-color: darken($navBarTop, $colourAdjust);
  }

  // title bar functional elements
  ul.nav>li {
    &>a, &>span {
      color: white !important;
      display: inline-block;
      @include transition;
//      @include cursor_pointer;

      &:hover, &.active {
        background-color: $navBarTop;
      }

      &.user-info {
        padding-top: 12px;
      }

      &.logout {
        color: white;
        padding-left: 10px;
      }

      a, span {
  //      border:
  //        left: 1px solid darken($navBarTop, $colourAdjust);
  //        right: 1px solid darken($navBarTop, $colourAdjust);

        padding: 12px 15px;
  //      @include transition;
      }


      &:hover {
        background-color: lighten($navBarBottom, $colourAdjust);
      }

      &.active a {
        background-color: $navBarTop;
      }
    }
  }
}




