@import "vendor/ratchet/sass/ratchet";

.bar.moved {
  left: 80%;
}

.bar {
  width: 100%;
}

.bar-nav {
  background-color: #f7f7f7;
}

.content-scroll {
  position: relative; // scrolling doesn't work
}

.content {
  background-color: #efeff4;
  &.has-footer {
    padding-bottom: 45px;
  }
}

.table-view.has-header {
  margin-top: 0px !important;
}

.table-view-cell.media img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.card.padded {
  padding: 20px;
}

.side-menu-wrapper {
  position: absolute;
  height: 100%;
  width:  100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.side-menu-wrapper.moved {
  left: 80%;
}

.side-menu.active {
  left: 0;
}

.side-menu {
  position: fixed;
  background: #333;
  color: #999;
  left: -80%;
  top: 0;
  width: 80%;
  height: 100%;
  z-index: 20;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.side-menu * {
  background: #333;
  color: #999;
}

.side-menu .table-view, .side-menu .table-view-cell {
  border-color: #222;
}

.side-menu .table-view {
  border-top: 0;
}

.spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}