target
/.classpath
/.project
/.setting
out
.idea/workspace.xml
dependency-reduced-pom.xml
/.checkstyle
/.settings
.sass-cache
*.lock
rebel.xml
git.properties
*debuglog.txt
**/cookie.properties
node_modules
bower_components
tmp
dist
app/npm-debug.log
public