<form {{action "createUser" on="submit"}}>
  <div class="input">
    <label for="firstName">name:</label>
    {{input name="firstName" value=controller.firstName}}
  </div>
  <div class="input">
    <label for="lastName">email:</label>
    {{input type="email" name="lastName" value=controller.lastName}}
  </div>
  <div class="actions">
    <button type="submit">Add User</button>
  </div>
</form>
