{{#nav-bar showMenu=controllers.application.showMenu}}
  <button {{action 'cancel'}} class="btn btn-link btn-nav pull-left">
    <span class="icon icon-close"></span>
    Cancel
  </button>
  <button {{action 'create'}} class="btn btn-link btn-nav pull-right">
    Save
    <span class="icon icon-check"></span>
  </button>
  <h1 class="title">Add Player</h1>
{{/nav-bar}}

{{#main-content showMenu=controllers.application.showMenu}}
  <form class="input-group">
    <div class="input-row">
      <label>name</label>
        {{input name="name" value=controller.firstName}}
    </div>
    <div class="input-row">
      <label>email</label>
        {{input type="email" name="lastName" value=controller.lastName}}
    </div>
  </form>
{{/main-content}}
