{{#nav-bar showMenu=controllers.application.showMenu}}
    <button {{action 'cancel' this}} class="btn btn-link btn-nav pull-left">
        <span class="icon icon-left-nav"></span>
        Cancel
    </button>
    <button {{action 'update' this}} class="btn btn-link btn-nav pull-right">
        Save
        <span class="icon icon-edit"></span>
    </button>
{{/nav-bar}}