<!-- headerbar and logo -->
<header class="bar bar-nav">
  {{#link-to 'login' class="icon icon-bars pull-left"}}{{/link-to}}
  <a class="icon icon-plus pull-right"></a>
  <h1 class="title">playermanager</h1>
</header>
