<!-- headerbar and logo -->
<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <span class="brand"><i class="icon-book"></i>playermanager</span>

        {{#unless view.hideMenu}}
            <!-- Navigation links starts here -->
            <ul class="nav pull-right">
                <!-- Main menu -->
                <li class="user-info">Welcome <strong>TBD</strong></li>
                <li class="logout"><a href="#" alt="Logout" {{action "logout" "index"}}><i class="icon-off"></i> Logout</a></li>
            </ul>
        {{/unless}}
    </div>

    {{#unless view.hideMenu}}
    <div id="main-menu">
        <ul class="nav">

        </ul>
    </div>
    {{/unless}}
</header>
