{{partial "header"}}

<div class="content">
    <div class="card">
        <ul class="table-view">
          {{#each model as |player|}}
              {{player-summary player=player selectPlayer="selectPlayer" selectedPlayer=selectedPlayer}}
          {{/each}}
        </ul>
    </div>
</div>