<header class="bar bar-nav">
  {{#link-to "players" class="btn btn-link btn-nav pull-left"}}
    <span class="icon icon-left-nav"></span>
    Squad
  {{/link-to}}
  {{#link-to "player.edit" model class="btn btn-link btn-nav pull-right"}}
    Edit
    <span class="icon icon-edit"></span>
  {{/link-to}}
</header>

<div class="content">
  <div class="card padded">
    <h3>{{model.firstName}}</h3>
    <p>{{model.lastName}}</p>
  </div>
</div>

{{outlet}}