{{#nav-bar showMenu=controllers.application.showMenu}}
    {{#link-to "players" class="btn btn-link btn-nav pull-left"}}
      <span class="icon icon-left-nav"></span>
      All Players
    {{/link-to}}
    {{#link-to "player.edit" model class="btn btn-link btn-nav pull-right"}}
      Edit
      <span class="icon icon-more-vertical"></span>
    {{/link-to}}
{{/nav-bar}}

{{#main-content showMenu=controllers.application.showMenu}}
  <form class="input-group">
    <ul class="table-view">
      <li class="table-view-cell media">
        <img class="media-object pull-left" src="{{model.avatar}}">

        <div class="media-body">
            {{input name="name" value=model.firstName}}
            {{input type="email" name="lastName" value=model.lastName}}
        </div>
      </li>

      <li class="table-view-cell">
        <a class="navigate-right">
          <span class="badge">20</span>
          Appearances
        </a>
      </li>

      <li class="table-view-cell">
        <a class="navigate-right">
          <span class="badge">4</span>
          Goals
        </a>
      </li>

      <li class="table-view-cell">
        Available
        <div class="toggle">
          <div class="toggle-handle"></div>
        </div>
      </li>
    </ul>
  </form>
{{/main-content}}